@* esto es un comentario *@
@model IEnumerable<Alumno>

@{
    ViewData["Title"] = "Informacion Alumno";
    // recibiendo data que viene del controller 
    // @Model.nombre
}
<div class="container">
    <h1> @ViewData["Title"] </h1>
        <partial name="ListaObjetoEscuela"/>
    <p>@ViewData["Fecha"]</p>
</div>