@* esto es un comentario *@
@model IEnumerable<Asignatura>

@{
    ViewData["Title"] = "Informacion Asignatura";
    // recibiendo data que viene del controller 
    // @Model.nombre
}

<h1> @ViewData["Title"] </h1>
@* @foreach (var asignatura in Model)
{
    <partial name="ObjetoEscuelaSimple" model="asignatura" />
} *@

<partial name="ListaObjetoEscuela"/>
<p>@ViewData["Fecha"]</p>