@* esto es un comentario *@
@model IEnumerable<Asignatura>

@{
    ViewData["Title"] = "Informacion Asignatura";
    // recibiendo data que viene del controller 
    // @Model.nombre
}

<div class="container">
    <h1> @ViewData["Title"] </h1>
    @* @foreach (var asignatura in Model)
    {
        <partial name="ObjetoEscuelaSimple" model="asignatura" />
    } *@ 
    <a class="btn btn-success" asp-controller="Asignatura"
    asp-action="Create">Nuevo
    <i class="icon-plus"></i>
    </a>
    <partial name="ListaObjetoEscuela"/>
    <p>@ViewData["Fecha"]</p>
</div>