@model Curso
@{
    ViewData["Title"] = "Crear Curso";
}
@* mostrar resumen de todas las validaciones *@
<div class="container">
  <h1> Curso @ViewData["Title"] </h1>
  <div class="row">
      <a class="btn btn-success" asp-controller="Curso"
        asp-action="Index">Regresar
      </a>
    @* <div asp-validation-summary="All"></div> *@
    <form method="post">
      <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" class="form-control" id="Nombre"
        asp-for="Nombre">
        <span asp-validation-for="Nombre" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label asp-for="Direccion" class="form-label"></label>
        <input type="text" class="form-control"
        asp-for="Direccion">
        <span asp-validation-for="Direccion" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="form-label" for="jornada">Verificado</label>
        @Html.DropDownList(
          "Jornada", Html.GetEnumSelectList<TiposJornada>(),
          "Seleccione una Jornada",
          new {@class = "form-control"}
        );
        <span asp-validation-for="Jornada" class="text-danger"></span>
      </div>
      <div class="row">
        <div>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>