@model Curso
@{
    ViewData["Title"] = "Crear Curso";
}
@* mostrar resumen de todas las validaciones *@
<div class="container">
  <h1> Curso @ViewData["Title"] </h1>
  <div class="row">
    <div asp-validation-summary="All"></div>
    <form method="post">
      <div class="mb-3">
        <label asp-for="Nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="Nombre"
        asp-for="Nombre"
        aria-describedby="cursoHelp">
        <div id="cursoHelp" class="form-text">Agregue un curso.</div>
      </div>
      <div class="mb-3">
        <label asp-for="Direccion" class="form-label">Direccion</label>
        <input type="text" class="form-control"
        asp-for="Direccion">
      </div>
      <div class="mb-3">
        <label class="form-label" for="jornada">Verificado</label>
        @Html.DropDownList(
          "Jornada", Html.GetEnumSelectList<TiposJornada>(),
          "Seleccione una Jornada",
          new {@class = "form-control"}
        );
      </div>
      <div class="row">
        <div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>