@model Curso
@{
    ViewData["Title"] = "Editar Curso";
}
@* mostrar resumen de todas las validaciones *@
<div class="container">
  <h1> Curso @ViewData["Title"] </h1>
  <a class="btn btn-success" asp-controller="Curso"
    asp-action="Index">Regresar
    <i class="icon-plus"></i>
    </a>
  <div class="row">
    <div asp-validation-summary="All"></div>
    <form asp-action="Edit" method="post">
      <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input type="text" class="form-control" id="Nombre"
        asp-for="Nombre">
        <span asp-validation-for="Nombre" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label asp-for="Direccion" class="form-label"></label>
        <input type="text" class="form-control"
        asp-for="Direccion">
      </div>
      <div class="mb-3">
        <label class="form-label" for="jornada">Verificado</label>
        @Html.DropDownList(
          "Jornada", Html.GetEnumSelectList<TiposJornada>(),
          "Seleccione una Jornada",
          new {@class = "form-control"}
        );
        <span asp-validation-for="Jornada" class="text-danger"></span>
      </div>
      <div class="row">
        <div>
          <button type="submit" class="btn btn-primary">Modificar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <p>@ViewData["mensaje"]</p>
  </div>
</div>