@* esto es un comentario *@
@model IEnumerable<Curso>

@{
    ViewData["Title"] = "Informacion Curso";
    // recibiendo data que viene del controller 
    // @Model.nombre
}
<div class="container">
    <h1> @ViewData["Title"] </h1>
    @* @foreach (var Curso in Model)
    {
        <partial name="ObjetoEscuelaSimple" model="Curso" />
    } *@
    <a class="btn btn-success" asp-controller="Curso"
    asp-action="Create">Nuevo
    <i class="icon-plus"></i>
    </a>
    <partial name="ListaObjetoEscuela"/>
    <p>@ViewData["Fecha"]</p>
    <div class="row">
        <h2>
            @ViewData["mensaje"]
        </h2>
    </div>
</div>